@page
@model AlumniGuestSpeakers.Pages.RequestApplicationModel
@{

}
<div class="banner-image banner-image-requestapplication">
    <h1>Forms</h1>
</div>

<div class="row opening-blurb gx-0">
    <div class="d-flex justify-content-center flex-column align-items-center form-spacer">
        <h2>Guest Speakers</h2>
        <p>Oklahoma State University (OSU) has a long tradition of inviting alumni who have excelled in their respective fields to serve as guest speakers. These distinguished graduates bring a wealth of knowledge and experience to campus, inspiring current students and faculty with their stories of success and perseverance. OSU alumni guest speakers cover a wide range of topics, from business and entrepreneurship to science, technology, and the arts. They provide valuable insights and perspectives on current trends and issues in their fields, as well as practical advice on how to achieve one's goals. OSU takes pride in its alumni and their achievements, and the alumni guest speaker program is just one way the university celebrates their success while providing invaluable learning opportunities for its students.</p>
    </div>
</div>

<form>

<div class="col-md-6 offset-md-3">
    <div class="d-flex justify-content-center flex-column align-items-center form-spacer">
        <label>Name</label>
        <input class="form-control" />
        <label>Topic</label>
        <input class="form-control" />
        <label>Discussion</label>
        <textarea class="form-control"></textarea>
        <label>Date</label>
        <input class="form-control" type="datetime-local" />
        <button type="submit" class="button">Submit</button>
    </div>
</div>

</form>