@page
@model AlumniGuestSpeakers.Pages.EditRequestsModel
@{
}

<div class="banner-image banner-image-edit-requests">
    <h1>Edit Requests</h1>
</div>

<div class="row opening-blurb gx-0">
    <div class="col-md-6 ">
        <h2>Welcome Professors</h2>
        <p>Here you can edit the information you want potential alumni guest speakers to see about your class. Expand each class to update and save information about the course and what you're looking for from a guest speaker. </p>
    </div>
    <div class="col-md-5 offset-md-1">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/images/baham_cory.jpg" class="card-img" alt="..." />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Professor Baham</h5>
                        <a class="button mt-4" asp-page="/Requests">View Your Changes <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row mx-5 my-5">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" style="background-color:var(--osu-orange)"id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    MSIS 4363
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="row">
                        <label>Course Description</label>
                        <textarea class="form-control mt-2" rows="5">Students in this course learn to develop next-generation, data driven mobile applications involving database development, development of web services, server-side business logic, and XML-based user interface design in format of a capstone project. </textarea>
                        <label class="mt-4">What are you looking for in a guest speaker?</label>
                        <textarea class="form-control mt-2" rows="5">I am looking for someone with approximately 5+ years of DevOps experience to speak to my class. They are learning about the continuous development process by using Azure Pipelines, and I would like a speaker who is able to talk about their experience with this process. What portion of your organization uses continuous development? How has this added value to your organization? If you are interested in speaking to my class, please click the Apply button below to fill out an application. </textarea>
                        <div class="form-group mt-4">
                            Class Type: <br />
                            <input type="checkbox" id="test1" name="test" value="test1" class="mt-2">
                            <label for="test1">In-Person</label><br>
                            <input type="checkbox" id="test2" name="test" value="test2">
                            <label for="test2">Online</label><br>                            
                        </div>
                        <div class="col-md-3 mt-4">
                            <label>Class Start</label>
                            <input class="form-control mt-2" type="time" />
                        </div>
                        <div class="col-md-3 mt-4">
                            <label>Class End</label>
                            <input class="form-control mt-2" type="time" />
                        </div>
                    </div>
                    <div class="subheading">
                        <a class="button me-1"  asp-page="/RequestsEdit">Update </a>
                        <a class="btnCancel ms-1" asp-page="/RequestsEdit">Cancel </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    MSIS 4003
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="row">
                        <label>Course Description</label>
                        <textarea class="form-control mt-2" rows="5">This course covers the core concepts and skills for developing software in an organizational context, including agile software development techniques, as well as the socio-cultural aspects of the systems analysis and design process. </textarea>
                        <label class="mt-4">What are you looking for in a guest speaker?</label>
                        <textarea class="form-control mt-2" rows="5">I am looking for a newer graduate (approximately 1 – 3 years post-grad) who can speak to my classes about the transition from collegiate life to the workplace. I would like to have a speaker who can discuss how they applied what they learned in class to a professional environment. What are some challenges you faced? How much new-hire training did you complete? Did you feel prepared for your role? If you are interested in speaking to my classes, please click the Apply button below to fill out an application. </textarea>
                        <div class="form-group mt-4">
                            Class Type: <br />
                            <input type="checkbox" id="test1" name="test" value="test1" class="mt-2">
                            <label for="test1">In-Person</label><br>
                            <input type="checkbox" id="test2" name="test" value="test2">
                            <label for="test2">Online</label><br>                            
                        </div>
                        <div class="col-md-3 mt-4">
                            <label>Class Start</label>
                            <input class="form-control mt-2" type="time" />
                        </div>
                        <div class="col-md-3 mt-4">
                            <label>Class End</label>
                            <input class="form-control mt-2" type="time" />
                        </div>                        
                    </div>
                    <div class="subheading">
                        <a class="button me-1" asp-page="/RequestsEdit">Update </a>
                        <a class="btnCancel ms-1" asp-page="/RequestsEdit">Cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>