<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        !function (a, b, c, d, e, f, g, h) {
            a.RaygunObject = e, a[e] = a[e] || function () {
                (a[e].o = a[e].o || []).push(arguments)
            }, f = b.createElement(c), g = b.getElementsByTagName(c)[0],
            f.async = 1, f.src = d, g.parentNode.insertBefore(f, g), h = a.onerror, a.onerror = function (b, c, d, f, g) {
                h && h(b, c, d, f, g), g || (g = new Error(b)), a[e].q = a[e].q || [], a[e].q.push({
                    e: g
                })
            }
        }(window, document, "script", "//cdn.raygun.io/raygun4js/raygun.min.js", "rg4js");
    </script>
    <script type="text/javascript">
        rg4js('apiKey', 'FM7Bc6VPbBrsOKHEj7qg');
        rg4js('enablePulse', true); // Enables Real User Monitoring
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oklahoma State MIS Alumni Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlumniGuestSpeakers.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://omni.okstate.edu/_resources_global/pattern-lab-v1/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://omni.okstate.edu/_resources_global/pattern-lab-v1/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://omni.okstate.edu/_resources_global/pattern-lab-v1/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://omni.okstate.edu/_resources_global/pattern-lab-v1/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="shortcut icon" href="//omni.okstate.edu/_resources_global/pattern-lab-v1/favicons/favicon.ico" />
    <script src="https://kit.fontawesome.com/01e8bac7fc.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow text-white">
            <div class="container-fluid">
                <a asp-page="/Index"><img src="~/images/logo-vertical.svg" alt="OKState Logo" class="logo" /></a>
                
                <a class="navbar-brand" asp-area="" asp-page="/Index">Alumni Portal</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars osu-orange"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/RequestsEdit">Edit Requests</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            &copy; 2023 - Oklahoma State University
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>